.card__container {
  width: 280px;
  height: 440px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  border-radius: 5px;
  cursor: pointer;
}
.grass-border {
  border: 8px solid var(--grass);
}
.fire-border {
  border: 8px solid var(--fire);
}
.water-border {
  border: 8px solid var(--water);
}
.bug-border {
  border: 8px solid var(--bug);
}
.normal-border {
  border: 8px solid var(--normal);
}
.poison-border {
  border: 8px solid var(--poison);
}
.electric-border {
  border: 8px solid var(--electric);
}
.ground-border {
  border: 8px solid var(--ground);
}
.fighting-border {
  border: 8px solid var(--fighthing);
}
.psychic-border {
  border: 8px solid var(--psychic);
}
.fairy-border {
  border: 8px solid var(--fairy);
}
.steel-border {
  border: 8px solid var(--steel);
}
.ghost-border {
  border: 8px solid var(--ghost);
}
.ice-border {
  border: 8px solid var(--ice);
}
.dragon-border {
  border: 8px solid var(--dragon);
}
.dark-border {
  border: 8px solid var(--dark);
}
.rock-border {
  border: 8px solid var(--rock);
}
.flying-border {
  border: 8px solid var(--flying);
}

.grass {
  background: var(--gradient-grass);
}

.fire {
  background: var(--gradient-fire);
}
.water {
  background: var(--gradient-water);
}
.bug {
  background: var(--gradient-bug);
}
.normal {
  background: var(--gradient-normal);
}
.flying {
  background: var(--flying);
}
.poison {
  background: var(--gradient-poison);
}
.electric {
  background: var(--gradient-electric);
}
.ground {
  background: var(--gradient-ground);
}
.fighting {
  background: var(--gradient-fighthing);
}
.psychic {
  background: var(--gradient-psychic);
}
.fairy {
  background: var(--gradient-fairy);
}
.steel {
  background: var(--gradient-steel);
}
.ghost {
  background: var(--gradient-ghost);
}
.ice {
  background: var(--gradient-ice);
}
.dragon {
  background: var(--gradient-dragon);
}
.dark {
  background: var(--gradient-dark);
}
.rock {
  background: var(--gradient-rock);
}

.card__header {
  position: relative;
}
.card__header img {
  width: 180px;
  position: absolute;
  top: 0;
  bottom: -60px;
  right: 0;
  left: 0;
  margin: auto;
}
.card__body {
  width: 85%;
  border-bottom: 1px solid #e5e5e5;
  align-self: flex-end;
  justify-self: center;
  padding-bottom: 6px;
  display: flex;
  flex-direction: column;
}
.body__name {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.card__type {
  display: flex;
  gap: 16px;
  align-self: center;
}
.card__body span {
  margin-top: 3px;
}

.card__footer {
  padding-bottom: 10px;
  padding-top: 10px;
}
.card__footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 6px 0px;
}
.card__footer li {
  width: 100px;
  text-align: center;
  list-style: none;
}
.card__footer li p {
  margin-top: 3px;
  font-weight: bold;
  font-size: 17px;
}
.card__container span {
  color: #afafaf;
  text-align: center;
  font-size: 10px;
}
