.pokedex__welcome p {
  width: 80%;
  margin-left: 50px;
  margin-top: 20px;
}
.pokedex__welcome span {
  color: #dd1a1a;
  font-weight: bold;
  width: 100%;
}
.inputs__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 60px;
  justify-content: center;

  padding: 20px;
}
.cards__container {
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 30px 0px;
}
.pagination {
  margin: auto;
  width: 80%;
}

@media (min-width: 600px) {
  .pokedex__welcome span {
    margin-left: 10%;
  }
}
